body {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 20px auto;
}

.loader {
  display: none;
  border: 2px solid blue;
  border-top: 2px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.htmx-request {
  display: inline-block;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: white;
  }
}
